<!doctype html>
<html ng-app="AgilePopsWeb" lang="en" ng-controller="IndexController">
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no,width=device-width"/>
  <meta charset="UTF-8">
  <meta name="keywords" content="site_template_text_html_title">
  <meta name="description" content="site_template_text_html_title">
  <link rel="shortcut icon" href="/supports/images/favicon.ico" type="image/x-icon">
  <script id="error3" type="text/html" data-value='<%=  test %>'></script>

  <script type='text/javascript' src="/libs/jquery/dist/jquery.min.js"></script>
  <script type='text/javascript' src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="/libs/angular/angular.min.js"></script>

  <script type='text/javascript' src="/libs/angular-animate/angular-animate.min.js"></script>
  <script type='text/javascript' src="/libs/angular-aria/angular-aria.min.js"></script>
  <script type='text/javascript' src="/libs/angular-material/angular-material.min.js"></script>

  <script type='text/javascript' src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type='text/javascript' src="/libs/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script type='text/javascript' src="/libs/angular-base64/angular-base64.min.js"></script>

  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="/libs/Swiper/dist/css/swiper.min.css"/>
  <script src="/libs/Swiper/dist/js/swiper.jquery.min.js"></script>

  <script src="/supports/js/global.client.support.js"></script>

  <title>存真堂</title>
</head>
<body ng-click="onBodyClick($event)">

<!--<div class="agilepops-wrap" scroll-bottom>-->
  <!--<div ui-view class="main-view"></div>-->
<!--</div>-->


<div>欢迎来到存真堂</div>

</body>
</html>
