html, body {
  width: 100%;
  background: url('/resource/image/index/background.png') repeat;
}

body .body-wrap {
  padding-top: 0;

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  * {
    margin:0;
    padding: 0;
  }
}


@color-green: #7c9d63;
@color-green-highlight: #81b02a;
@color-green-text: #5d8343;

@site-max-width: 1205px;

.body-wrap {
  overflow-y: auto;
  min-width: @site-max-width;
  overflow-x: auto;


  .site-top-header {
    margin:0 auto;
    padding: 35px 0;
    max-width: @site-max-width;

    .left {
      .logo {

      }
    }
  }

  .site-top-navbar {
    background-color: @color-green;

    .navbar-wrapper {
      margin: 0 auto;
      padding:0;
      max-width: @site-max-width;
      height: 60px;

      .item {
        display: inline-block;
        float: left;
        width: 125px;
        height: 60px;
        line-height: 60px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        cursor: pointer;

        &:hover, &.current {
          background-color: @color-green-highlight;
        }

        a {
          display: block;
          height: 100%;
          color: #fff;

          img {
          }
        }

        &.home {
          width: 76px;
        }
      }
    }
  }

  .site-bottom-go-top {
    margin: 20px auto 40px;
    max-width: @site-max-width;
    text-align: center;

    top {
      display: inline-block;
      margin: 0 auto;
      width: 44px;
      height: 22px;
      cursor: pointer;
    }
  }

  .site-bottom-navbar {
    margin: 0 auto;
    max-width: @site-max-width;
    height: 220px;

    .left {
      float: left;
      margin-right: 20px;

      .item {
        display: inline-block;
        float: left;
        width: 100px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: @color-green-text;
        border-right: 1px dashed @color-green-text;
        cursor: pointer;
        &:last-child {
          border-right: none;
        }
      }
    }
    .right {
      float: left;

      .wechat-qrcode {
        display: inline-block;
        float: left;
        margin-right: 20px;

      }
      .info {
        display: inline-block;
        float: left;

        .item {
          height: 30px;
          line-height: 25px;
          color: #666;
          font-size: 12px;

          &.name {
            color: @color-green-text;
            font-size: 14px;
          }
        }

      }
    }
  }
  
  .site-footer {
    padding: 20px 0;
    color: #fff;
    background-color: #7a7a7a;

    .text {
      margin: 0 auto;
      max-width: @site-max-width;
    }
  }
  
}
